{%- form 'storefront_password', class: 'password-form' -%}
  {{ form.errors | default_errors }}
  <div class="form-field" style="margin-bottom:.75rem;">
    <label for="Password" class="sr-only">Password</label>
    <input
      type="password"
      name="password"
      id="Password"
      placeholder="Enter password"
      autocomplete="current-password"
      required
    >
  </div>
  <button type="submit" class="btn btn-white w-full">Enter</button>
{%- endform -%}

{% schema %}
{
  "name": "Password Page",
  "tag": "div"
}
{% endschema %}
